/* Navigation styles */
.nav-main ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #000;
}

.nav-main li {
    margin: 0;
}

.nav-main a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.6rem 1rem;
    font-family: 'Bebas Neue', cursive;
}

.nav-main a:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}

#kontakt a {
    color: #1085df;
}
